
.EventListHeading{
    height: 70px;
    border-top: 1px solid rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
    border-radius: 12px;
}

.hide{
    visibility: hidden;
}

.filtericon{
    visibility: hidden;
}




/* @media only screen and (max-width: 990px) {
    .filterbox{
        position: absolute;
        top: 20%;
        z-index: 1;
    }
    
    .filtericon{
        visibility:visible;
        cursor: pointer;
    }
} */