<div class="container-fluid eventContainer">
  <div class="row">
    <div class="col-3 mt-5">
      <!-- App Filter Component -->
      <app-filter 
      (filterValue)="getFilterValue($event)"
      [categories]="categories"
      ></app-filter>
    </div>
    <div class="col-9 mt-5">
      <div class="row EventListHeading">
        <h5 class="mt-3 text-center">List of Events</h5>
      </div>
      <div class="row border mt-1">
        <div class="row d-flex">
          <!-- Looping through Events fetching array of eventlist -->
          <div class="mx-4 my-3 w-25" *ngFor="let event of eventList">
            <app-eventlist
              (onRegisterEvent)="register(event)"
              [event]="event"
              [showRegister]="true"
              [showPublish]="false"
              [showDelete]="false"
              [text]="'Register'"
            ></app-eventlist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
