.eventContainer{
    width: 99%;
    margin: 0 auto;
}
.EventListHeading{
    height: 70px;
    border-top: 1px solid rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
    border-radius: 12px;
}

.marginLeft{
    margin: 15px 33px !important;
}

