<div class="container-fluid">
  <div class="row">
    <div class="col-3 filterbox mt-5">
      <!-- App Filter Component -->
      <app-filter
        (filterValue)="getFilterValue($event)"
        [categories]="categories"
      ></app-filter>
    </div>
    <div class="col mt-5">
      <div
        class="
          EventListHeading
          justify-content-center"
      >
        <h5 class="mt-3 text-center">List of Events</h5>
      </div>
      <div class="border mt-1">
        <div class="row">
          <!-- Looping through Events fetching array of eventlist -->
          <div
            class="my-3 col d-flex justify-content-center"
            *ngFor="let event of eventList"
          >
            <app-eventlist
              (onRegisterEvent)="register(event)"
              [event]="event"
              [showRegister]="true"
              [showPublish]="false"
              [showDelete]="false"
              [text]="'Register'"
            ></app-eventlist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
