<div class="width">
  <h4 class="mt-4 mb-5 text-center">Published Events</h4>
  <div
    *ngIf="!eventAvailable"
    class="
      text-center
      d-flex
      justify-content-center
      align-items-center
      eventAvailable
    "
  >
    <p>Events Not Published Yet!!!</p>
  </div>

  <div class="row">
    <div class="col-7">
      <div class="d-flex flex-column" *ngFor="let event of eventList">
        <div class="col-12 mb-4 border">
          <div class="row rowWidth">
            <div class="col-4 dd">
              <img src="{{ event.picture }}" alt="No image" />
            </div>
            <div class="col-8 d-flex flex-column justify-content-between">
              <div class="d-flex flex-row justify-content-between p-3">
                <div>
                  <h6>{{ event.eventName }}, {{ event.location }}</h6>
                  <p class="pEdit">{{ event.description }}</p>
                </div>
                <div>
                  <fa-icon
                    class="icon px-2"
                    size="lg"
                    [icon]="faTrashAlt"
                    (click)="handleEventDelete(event.id)"
                  ></fa-icon>
                </div>
              </div>
              <div class="d-flex justify-content-between p-3">
                <div>
                  <p class="pEdit">Start Date : {{ event.eventDate | date }}</p>
                  <p class="pEdit">End Date : {{ event.lastDate | date }}</p>
                </div>
                <div class="d-flex align-items-end">
                  <button
                    class="btn btn-success p-1"
                    [routerLink]="['/adminhome/published/', event.id]"
                    [state]="event"
                  >
                    Show Participants
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
