<h4 class="text-center mt-4 mb-3">Announce Winners</h4>
<div class="width">
  <div
    *ngIf="!eventAvailable"
    class="
      text-center
      d-flex
      justify-content-center
      align-items-center
      eventAvailable
    "
  >
    <p>Wait For Events To Get Closed First!!!</p>
  </div>

  <!-- List of Events -->

  <div class="row">
    <div *ngFor="let event of eventList" class="col-md-7">
      <div class="d-flex ABox mb-4">
        <div
          class="
            a
            d-flex
            flex-column
            justify-content-center
            align-items-center
            text-white
          "
        >
          <h2 class="m-0">{{ event.lastDate | date: "dd" }}</h2>
          <h5 class="m-0">{{ event.lastDate | date: "MMM" }}</h5>
        </div>

        <div class="b p-1 px-2">
          <p class="m-0">
            <span>{{ event.eventDate | date: "shortTime" }}</span
            >&nbsp;&nbsp;<span>TEAM</span>
          </p>
          <p class="m-0 py-1">{{ event.eventName }}, {{ event.location }}</p>
          <p class="m-0">{{ event.description }}</p>
        </div>

        <div class="c d-flex justify-content-center align-items-center">
          <button
            type="button"
            class="btn btn-sm btn-outline-success p-1"
            data-bs-toggle="modal"
            data-bs-target="#announce"
          >
            Announce
          </button>
        </div>

        <div
          class="modal fade"
          id="announce"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Enter Winners Name
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form #f="ngForm">
                <div class="modal-body">
                  <input
                    type="text"
                    name="w1"
                    class="form-control mb-3"
                    placeholder="Enter 1st RunnerUp"
                    [(ngModel)]="w1"
                    required
                  />
                  <input
                    type="text"
                    name="w2"
                    class="form-control mb-3"
                    placeholder="Enter 2nd RunnerUp"
                    [(ngModel)]="w2"
                    required
                  />
                  <input
                    type="text"
                    name="w3"
                    class="form-control mb-3"
                    placeholder="Enter 3rd RunnerUp"
                    [(ngModel)]="w3"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    (click)="clearDataOnDiscard(f)"
                  >
                    Discard
                  </button>
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="handlePostWinnerDetails(event.id, f)"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-6 px-4 mb-5" *ngFor="let event of eventList">
      <div class="col-12 announcediv d-flex">
        <div class="col-5 divImg p-1">
          <img [src]="event.picture" alt="No image" />
        </div>
        <div class="col-7">
          <h5 class="text-center mt-1 mb-3">Event Details</h5>
          <div>
            <p class="mb-1 px-3">{{ event.eventName }}, {{ event.location }}</p>
            <p class="mb-1 px-3">{{ event.description }}</p>
            <p class="mb-1 px-3">Start Date : {{ event.eventDate | date }}</p>
            <p class="mb-1 px-3">End Date : {{ event.lastDate | date }}</p>
          </div>

          <div class="d-flex justify-content-end pb-1 mx-2">
            <button
              type="button"
              class="btn btn-success p-1"
              data-bs-toggle="modal"
              data-bs-target="#announce"
            >
              Announce
            </button>
          </div>

       
          <div
          class="modal fade"
          id="announce"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Enter Winners Name
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form #f="ngForm">
                <div class="modal-body">
                  <input
                    type="text"
                    name="w1"
                    class="form-control mb-3"
                    placeholder="Enter 1st RunnerUp"
                    [(ngModel)]="w1"
                    required
                  />
                  <input
                    type="text"
                    name="w2"
                    class="form-control mb-3"
                    placeholder="Enter 2nd RunnerUp"
                    [(ngModel)]="w2"
                    required
                  />
                  <input
                    type="text"
                    name="w3"
                    class="form-control mb-3"
                    placeholder="Enter 3rd RunnerUp"
                    [(ngModel)]="w3"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    (click)="clearDataOnDiscard(f)"
                  >
                    Discard
                  </button>
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    [disabled]="!f.form.valid"
                    (click)="handlePostWinnerDetails(event.id, f)"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
