<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand mx-3 text-white" routerLink="/adminhome">SPORTS EVENT MANAGEMENT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link mx-4 p-1 text-white link" routerLink="/adminhome/events" routerLinkActive="active">EVENTS</a>
        <a class="nav-link mx-4 p-1 text-white link" routerLink="/adminhome/published" routerLinkActive="active">PUBLISHED</a>
        <a class="nav-link mx-4 p-1 text-white link" routerLink="/adminhome/announceWinner" routerLinkActive="active">ANNOUNCE WINNER</a>
        <a class="nav-link mx-4 p-1 text-white link" routerLink="/">LOGOUT<fa-icon class="icon link text-white px-1" size="lg" [icon]="faSignOutAlt"></fa-icon></a>
      </div>
    </div>
  </div>
</nav>