.dateBtn{
  padding: 2px 5px;
  font-size: 0.9rem;
}

.venueBtn,.typeBtn,.noneBtn{
  font-size: 0.9rem;
  padding: 2px 9px;
  margin: 0 4px;
}

.hide{
  visibility: hidden;
}

.filterbox{
  border-left: 1px solid rgb(207, 207, 207);
  border-right: 1px solid rgb(207, 207, 207);
  border-top: 1px solid rgb(207, 207, 207);
  border-radius: 5%;
}

.btn:hover{
  background-color: rgb(25,135,84);
  color: white;
}

.green{
  background-color: green;
}


@media only screen and (max-width: 990px) {


  button{
    margin: 3px !important;
  }

  .reduceFont{
    font-size: 93% !important;
  }

  *{
    font-size: 96% !important;
  }
 
}