<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-horizontal">
      <div class="card-body">
        <h6 class="card-title player">{{ match.playerOne }}</h6>
        <h6 class="card-title player">{{ match.playerTwo }}</h6>
        <h6 class="gray" style="float: left; width: 50%">
          Match {{ match.matchNumber }}
        </h6>
        <h6 class="gray" style="float: right; width: 50%">
          Round {{ match.roundNumber }}
        </h6>
      </div>
    </div>
  </div>
</div>
