<div class="d-flex ABox mb-4">
  <div
    class="
      a
      d-flex
      flex-column
      justify-content-center
      align-items-center
      text-white
      bg-secondary
    "
  >
    <h2 class="m-0">{{ event.lastDate | date: "dd" }}</h2>
    <h5 class="m-0">{{ event.lastDate | date: "MMM" }}</h5>
  </div>

  <div class="b p-1 px-2">
    <p class="m-0">
      <span>{{ event.eventDate | date: "shortTime" }}</span
      >&nbsp;&nbsp;<span>{{ event.type | titlecase }}</span>
    </p>
    <p class="m-0 py-1">{{ event.eventName }}, {{ event.location }}</p>
    <p class="m-0">{{ event.description }}</p>
  </div>

  <div class="c d-flex justify-content-center align-items-center">
    
    <ng-container *ngIf="analyse" else; #survey>
      <img src="https://img.icons8.com/ios/35/000000/stop-pie-chart-report.png"
      title="Analyse"
      [routerLink]="['/adminhome/feedback/',event.id]"/>
    </ng-container>
    
    <ng-container *ngIf="!analyse">
      <img src="https://img.icons8.com/cotton/44/000000/survey.png"
      title="Take Survey"
      (click)="getEventById(event.id)">
    </ng-container>

  </div>
</div>


