<div class="container addeventform">
  <div>
    <div class="imgDim text-center">
      <img
        [src]="picture"
        alt="Unable to load Image"
        height="210"
        width="330"
      />
    </div>
    <div>
      <h5 class="text-center mt-2 mb-4">Edit Event Details</h5>
      <!-- Add event details form -->
      <form class="row g-3" [formGroup]="UpdateEventForm">
        <div class="col-md-6">
          <label for="eventName" class="form-label">Event Name</label>
          <input
            type="text"
            formControlName="eventName"
            id="eventName"
            class="form-control"
            [ngClass]="{ 'is-invalid': updated && f.eventName.errors }"
          />
          <div *ngIf="updated && f.eventName.errors" class="text-danger">
            <div class="small" *ngIf="f.eventName.errors.required">
              Event Name is required
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            formControlName="location"
            id="location"
            class="form-control"
            [ngClass]="{ 'is-invalid': updated && f.location.errors }"
          />
          <div *ngIf="updated && f.location.errors" class="text-danger">
            <div class="small" *ngIf="f.location.errors.required">
              Location is required
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            formControlName="description"
            class="form-control"
            id="description"
            [ngClass]="{ 'is-invalid': updated && f.description.errors }"
          />
          <div *ngIf="updated && f.description.errors" class="text-danger">
            <div class="small" *ngIf="f.description.errors.required">
              description is required
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="category" class="form-label">Category</label>
          <select
            class="form-select"
            aria-label="Default select example"
            formControlName="category"
            [ngClass]="{ 'is-invalid': updated && f.category.errors }"
            (ngModelChange)="setPicture()"
          >
            <optgroup label="Outdoor">
              <option value="CRICKET">Cricket</option>
              <option value="FOOTBALL">Football</option>
              <option value="BASKETBALL">Basketball</option>
              <option value="BADMINTION">Badmintion</option>
              <option value="VOLLEYBALL">Volleyball</option>
            </optgroup>
            <optgroup label="Indoor">
              <option value="CHESS">Chess</option>
              <option value="TABLETENNIS">TableTennis</option>
              <option value="CARROM">Carrom</option>
              <option value="8BALLPOOL">8ballpool</option>
              <option value="OTHERS">Others</option>
            </optgroup>
          </select>
        </div>

        <div class="col-md-6">
          <label for="venue" class="form-label">Venue</label>
          <select
            class="form-select"
            aria-label="Default select example"
            formControlName="venue"
            [ngClass]="{ 'is-invalid': updated && f.venue.errors }"
          >
            <option value="OUTDOOR">Outdoor</option>
            <option value="INDOOR">Indoor</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="maxParticipant" class="form-label"
            >Total Participants</label
          >
          <input
            type="number"
            formControlName="maxParticipant"
            id="maxParticipant"
            class="form-control"
            [ngClass]="{ 'is-invalid': updated && f.maxParticipant.errors }"
          />
          <div *ngIf="updated && f.maxParticipant.errors" class="text-danger">
            <div class="small" *ngIf="f.maxParticipant.errors.required">
              Total Participants is required
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="eventDate" class="form-label">Event Date</label>
          <input
            type="datetime-local"
            formControlName="eventDate"
            id="eventDate"
            class="form-control"
            [ngClass]="{ 'is-invalid': updated && f.eventDate.errors }"
          />
        </div>
        <div class="col-md-6">
          <label for="lastDate" class="form-label">End Date</label>
          <input
            type="date"
            formControlName="lastDate"
            id="lastDate"
            class="form-control"
            [ngClass]="{ 'is-invalid': updated && f.lastDate.errors }"
          />
        </div>

        <div class="col-md-6">
          <label for="type" class="form-label">Type</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="type"
              id="individual"
              value="INDIVIDUAL"
              checked
              (ngModelChange)="isTeam()"
              required
            />
            <label class="form-check-label" for="individual">
              Individual
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="type"
              id="team"
              value="TEAM"
              (ngModelChange)="isTeam()"
              required
            />
            <label class="form-check-label" for="team"> Team </label>
          </div>
        </div>

        <div class="col-md-6" *ngIf="isTeam()">
          <label for="totalMembers" class="form-label"
            >Maximum Members In Each Team</label
          >
          <input
            type="number"
            formControlName="maxMembersInTeam"
            id="maxMembersInTeam"
            class="form-control"
          />
        </div>

        <div class="col-12 mt-4 d-flex justify-content-around">
          <button
            type="button"
            class="btn btn-secondary px-4"
            routerLink="/adminhome/events"
          >
            Discard
          </button>

          <button
            type="button"
            class="btn btn-success px-4"
            (click)="onUpdateEvent(eventId)"
          >
            Update Event
          </button>
        </div>
      </form>
      <!-- </div>
  </div>
</div> -->
    </div>
  </div>
</div>
