<div class="d-flex ABox mb-4">
    <div
      class="
        a
        d-flex
        flex-column
        justify-content-center
        align-items-center
        text-white
      "
    >
      <h2 class="m-0">{{ event.eventDate | date: "dd" }}</h2>
      <h5 class="m-0">{{ event.eventDate | date: "MMM" }}</h5>
    </div>

    <div class="b p-1 px-2">
      <p class="m-0">
        <span>{{ event.eventDate | date: "shortTime" }}</span
        >&nbsp;&nbsp;<span>{{event.type | titlecase}}</span>
      </p>
      <p class="m-0 py-1">{{ event.eventName }}, {{ event.location }}</p>
      <p class="m-0">{{ event.description }}</p>
    </div>

    <div class="c d-flex justify-content-center align-items-center">
      <button
        type="button"
        class="btn btn-sm btn-outline-success p-1"
      >
        {{text}}
      </button>
    </div>