.ABox {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
}

.a {
  width: 17%;
  background-color: rgb(40, 136, 40);
  padding: 25px;
  border-radius: 8px;
}
.a h2 {
  font-weight: 900;
}

.b {
  flex-grow: 8;
}

.b p:nth-child(2) {
  font-weight: 800;
}

.c {
  flex-grow: 1;
}

.c button {
  border-radius: 8px;
}

p{
    font-size: 93%;
}