<div class="card borderCard">
  <img
    src="{{
      '../../../../../assets/event_category/' + event.category + '.jpg'
    }}"
    class="card-img-top borderImg"
    alt="Image not loaded"
  />
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h5 class="card-title col-10 p-2">{{ event.eventName }}</h5>
            <span class="spanEdit px-2">{{ event.description }}</span>
            <span class="spanEdit px-2">{{ event.location }}</span>
            <span class="spanEdit px-2"
              >Event Date : {{ event.eventDate | date }}</span
            >
            <span class="spanEdit px-2"
              >End Date &nbsp; : {{ event.lastDate | date }}</span
            >
          </div>
        </div>

        <div class="d-flex justify-content-around my-2 p-1">
          <ng-container *ngIf="event.type === 'INDIVIDUAL'">
            <button
              class="btn btn-success px-3 py-1"
              (click)="onRegister(event)"
            >
              Register
            </button>
          </ng-container>
          <ng-container *ngIf="event.type === 'TEAM'">
            <button
              class="btn btn-success px-3 py-1"
              (click)="onRegisterTeam(event)"
            >
              Register as Team
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
