.btncolor {
  background-color: rgb(95, 121, 179);
}
.display-6 {
  font-size: 2.1rem;
  color: white;
}

.margintop {
  margin-top: 0%;
}
.bold {
  color: white;
}
span {
  color: crimson;
}
