.btncolor {
  background-color: #5a48fd;
}
.display-6 {
  font-size: 2.1rem;
  color: white;
}

.margintop {
  margin-top: 20%;
}
.bold {
  color: white;
}
span {
  color: crimson;
}
.sideimg {
  height: 100vh;
}
