.btncolor {
  background-color: #8ec162;
}
.display-6 {
  font-size: 2.1rem;
}

.margintop {
  margin-top: 20%;
}
.bold {
  font-weight: 600;
}
span {
  color: crimson;
}
.sideimg {
  height: 100vh;
}
