<div class="row mt-5">
  <div class="col-md-6 border-middle col-sm-12">
    <div class="col-md col-sm-12 px-5">
      <h5 class="text-center p-3">Team Details</h5>
      <form
        [formGroup]="teamForm"
        (ngSubmit)="onRegister()"
        class="row gx-4 gy-3"
      >
        <div class="col-md-6">
          <label for="name" class="form-label">Team Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          />
          <div *ngIf="submitted && f.name.errors" class="text-danger">
            <div class="small" *ngIf="f.name.errors.required">
              Team Name is required
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="teamDescription" class="form-label"
            >Team Description</label
          >
          <input
            type="text"
            class="form-control"
            id="teamDescription"
            formControlName="description"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
          />
          <div *ngIf="submitted && f.description.errors" class="text-danger">
            <div class="small" *ngIf="f.description.errors.required">
              description is required
            </div>
          </div>
        </div>
        <div class="col-6">
          <label for="maxMembers" class="form-label">Maximum Members</label>
          <input
            type="number"
            class="form-control"
            id="maxMembers"
            formControlName="maxMembers"
          />
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            id="inputCity"
            formControlName="city"
            [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
          />
          <div *ngIf="submitted && f.city.errors" class="text-danger">
            <div class="small" *ngIf="f.city.errors.required">
              City is required
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="contact" class="form-label">Contact</label>
          <input
            type="text"
            class="form-control"
            id="contact"
            formControlName="contact"
            [ngClass]="{ 'is-invalid': submitted && f.contact.errors }"
          />
          <div *ngIf="submitted && f.contact.errors" class="text-danger">
            <div class="small" *ngIf="f.contact.errors.required">
              contact is required
            </div>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-success">Register</button>
        </div>
      </form>
    </div>
    <button
      *ngIf="inviteLinkAvailable"
      class="btn btn-secondary mt-5 ml-10"
      (click)="copyMessage()"
      value="click to copy"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-share"
        viewBox="0 0 16 16"
      >
        <path
          d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"
        />
      </svg>
      Share Invite
    </button>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="col-md text-center col-sm-12 px-5">
      <h5 class="p-3">Registered Teams for {{ event.eventName }}</h5>
      <div class="row mb-2" *ngFor="let team of registeredTeams">
        <app-registered-teams
          [team]="team"
          (onClickAskToJoin)="join(team)"
        ></app-registered-teams>
      </div>
    </div>
  </div>
</div>
