* {
  margin: 0;
  padding: 0;
}

.bt {
  border: none;
  padding: 5px;
  margin: 0 4px;
  background-color: inherit;
  border-radius: 15px;
}

.cBody {
  background-color: inherit;
}

.bt:hover {
  background-color: rgb(218, 218, 218);
  border-radius: 20px;
}
h6 {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  margin: 0;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
