.margintop {
  margin-top: 10%;
}

.btncolor {
  background-color: rgb(196, 101, 101);
}

.bgContent {
  background: #ffd98e;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  .imgBox {
    display: none;
  }
}
