<!-- <div class="row mt-5 width">
  <div
    class="
      col-2
      d-flex
      justify-content-center
      align-items-center
      divwidth
      offset-10
    "
  >
    <button
      type="button"
      class="btn btn-success btnwidth"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <span class="spantxt">
        Add An Event <fa-icon class="icon px-1" [icon]="faPlusCircle"></fa-icon>
      </span>
    </button>


    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-body">
            <div class="card">
              <div class="imgDim">
                <img
                  src="../../../assets/no-image.jpg"
                  class="card-img-top"
                  alt="Unable to load Image"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center mb-4">Add Event Details</h5>

                <form class="mt-3" #f="ngForm" [formGroup]="eventForm">
                  <div class="row mb-2">
                    <div class="col-4">
                      <label for="eventName" class="labeltxt form-label"
                        >Event Name</label
                      >
                    </div>
                    <div class="col-8">
                      <input
                        type="text"
                        name="eventName"
                        id="eventName"
                        class="form-control txtdim"
                        [formControlName]="'eventName'"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <label for="description" class="labeltxt form-label"
                        >Description</label
                      >
                    </div>
                    <div class="col-8">
                      <textarea
                        type="textarea"
                        name="description"
                        id="description"
                        rows="1"
                        class="form-control txtdim"
                        [formControlName]="'description'"
                        required
                      >
                      </textarea>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <label for="location" class="labeltxt form-label"
                        >Location</label
                      >
                    </div>
                    <div class="col-8">
                      <input
                        type="text"
                        name="location"
                        id="location"
                        class="form-control txtdim"
                        [formControlName]="'location'"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <label for="category" class="labeltxt form-label"
                        >Category</label
                      >
                    </div>
                    <div class="col-8">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        name="category"
                        [formControlName]="'category'"
                      >
                        <option selected></option>
                        <optgroup label="Outdoor">
                          <option value="cricket">Cricket</option>
                          <option value="football">Football</option>
                          <option value="basketball">Basketball</option>
                          <option value="badminton">Badminton</option>
                          <option value="volleyball">Volleyball</option>
                        </optgroup>
                        <optgroup label="Indoor">
                          <option value="chess">Chess</option>
                          <option value="tableTennis">TableTennis</option>
                          <option value="carrom">Carrom</option>
                          <option value="8ballpool">8 Ball Pool</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <label for="type" class="labeltxt form-label">Type</label>
                    </div>
                    <div class="col-8">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="type"
                          id="individual"
                          value="INDIVIDUAL"
                          checked
                          [formControlName]="'type'"
                          required
                        />
                        <label class="form-check-label" for="individual">
                          Individual
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="type"
                          id="team"
                          value="TEAM"
                          [formControlName]="'type'"
                          required
                        />
                        <label class="form-check-label" for="team">
                          Team
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-4">
                      <label for="maxMembers" class="labeltxt form-label"
                        >Max members in Team</label
                      >
                    </div>
                    <div class="col-8">
                      <input
                        type="number"
                        name="maxMembers"
                        id="maxMembers"
                        class="form-control txtdim"
                        [formControlName]="'maxMembers'"
                        required
                      />
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-4">
                      <label for="eventDate" class="labeltxt form-label"
                        >Event Date</label
                      >
                    </div>
                    <div class="col-8">
                      <input
                        type="datetime-local"
                        name="eventDate"
                        id="eventDate"
                        class="form-control txtdim"
                        [formControlName]="'eventDate'"
                        required
                      />
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-4">
                      <label for="lastDate" class="labeltxt form-label"
                        >End Date</label
                      >
                    </div>
                    <div class="col-8">
                      <input
                        type="date"
                        name="lastDate"
                        id="lastDate"
                        placeholder="YYYY/MM/DD"
                        class="form-control txtdim"
                        [formControlName]="'lastDate'"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <label for="maxParticipant" class="labeltxt form-label"
                        >Participants</label
                      >
                    </div>
                    <div class="col-8">
                      <input
                        type="number"
                        name="maxParticipant"
                        id="maxParticipant"
                        class="form-control txtdim"
                        [formControlName]="'maxParticipant'"
                        required
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-around">
            <button
              type="button"
              class="btn btn-secondary px-4"
              data-bs-dismiss="modal"
              (click)="handleSaveDraft()"
            >
              Save Draft
            </button>
            <button
              type="button"
              [disabled]="!f.form.valid"
              class="btn btn-success px-5"
              data-bs-dismiss="modal"
              (click)="handleAddEvent()"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div
    *ngIf="!eventAvailable"
    class="
      text-center
      d-flex
      justify-content-center
      align-items-center
      eventAvailable
    "
  >
    <p>No Events Available!!!</p>
  </div>


  <div class="row row-cols-1 row-cols-md-1 g-4 marginleft">
    <div class="mx-4 my-3 w-25" *ngFor="let event of eventList">
      <div class="card borderCard">
        <img
          src="{{
            '../../../../../assets/event_category/' + event.category + '.jpg'
          }}"
          class="card-img-top borderImg"
          alt="Image not loaded"
        />
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="row">
                    <h5 class="card-title col-10">{{ event.eventName }}</h5>
                    <fa-icon class="icon col-2"></fa-icon>
                  </div>
                  <div class="row">
                    <span class="spanEdit">{{ event.description }}</span>
                  </div>

                  <div class="row">
                    <span class="spanEdit">{{ event.location }}</span>
                  </div>

                  <div class="row">
                    <span class="spanEdit"
                      >Event Date : {{ event.eventDate | date }}</span
                    >
                  </div>

                  <div class="row">
                    <span class="spanEdit"
                      >End Date &nbsp; : {{ event.lastDate | date }}</span
                    >
                  </div>

                  <div>
                    <div class="d-flex justify-content-around mb-3">
                      <button
                        class="btn btn-success"
                        (click)="publish(event.id)"
                      >
                        Publish &nbsp;<fa-icon
                          class="icon try"
                          [icon]="faUpload"
                        ></fa-icon>
                      </button>
                      <button
                        class="btn btn-secondary"
                        (click)="delete(event.id)"
                      >
                        Delete
                        <fa-icon
                          class="icon try"
                          [icon]="faTrashAlt"
                          (click)="delete(event.id)"
                        ></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container addeventform">
  <!-- card - Add Event -->
  <div>
    <div class="imgDim">
      <img [src]="picture" alt="Unable to load Image" />
    </div>
    <div>
      <h5 class="text-center mb-4">Add Event Details</h5>

      <!-- Add event details form -->

      <form class="row g-3" #f="ngForm">
        <div class="col-md-6">
          <label for="eventName" class="form-label">Event Name</label>
          <input
            type="text"
            name="eventName"
            id="eventName"
            class="form-control"
            [(ngModel)]="eventName"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="location"
            id="location"
            class="form-control"
            [(ngModel)]="location"
            required
          />
        </div>
        <div class="col-md-8">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            name="description"
            class="form-control"
            id="description"
            [(ngModel)]="description"
            required
          />
        </div>

        <div class="col-md-4">
          <label for="category" class="form-label">Select Event</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="category"
            [(ngModel)]="category"
            (ngModelChange)="setPicture()"
            required
          >
            <optgroup label="Outdoor">
              <option value="cricket">Cricket</option>
              <option value="football">Football</option>
              <option value="basketball">Basketball</option>
              <option value="badmintion">Badmintion</option>
              <option value="volleyball">Volleyball</option>
            </optgroup>
            <optgroup label="Indoor">
              <option value="chess">Chess</option>
              <option value="tableTennis">TableTennis</option>
              <option value="carrom">Carrom</option>
              <option value="8ballpool">8 Ball Pool</option>
            </optgroup>
          </select>
        </div>

        <div class="col-md-6">
          <label for="venue" class="form-label">Venue</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="venue"
            [(ngModel)]="venue"
            required
          >
            <option value="indoor">Outdoor</option>
            <option value="outdoor">Indoor</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="maxParticipant" class="form-label"
            >Total Participants</label
          >
          <input
            type="number"
            name="maxParticipant"
            id="maxParticipant"
            class="form-control"
            [(ngModel)]="maxParticipant"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="eventDate" class="form-label">Event Date</label>
          <input
            type="datetime-local"
            name="eventDate"
            id="eventDate"
            class="form-control"
            [(ngModel)]="startDate"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="lastDate" class="form-label">End Date</label>
          <input
            type="date"
            name="lastDate"
            id="lastDate"
            class="form-control"
            [(ngModel)]="endDate"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="type" class="form-label">Type</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="type"
              id="individual"
              value="individual"
              checked
              [(ngModel)]="type"
              (ngModelChange)="isTeam()"
              required
            />
            <label class="form-check-label" for="individual">
              Individual
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="type"
              id="team"
              value="team"
              [(ngModel)]="type"
              (ngModelChange)="isTeam()"
              required
            />
            <label class="form-check-label" for="team"> Team </label>
          </div>
        </div>

        <div class="col-md-6" *ngIf="isTeam()">
          <label for="totalMembers" class="form-label"
            >Maximum Members In Each Team</label
          >
          <input
            type="number"
            name="totalMembers"
            id="totalMembers"
            class="form-control"
            [(ngModel)]="totalMembers"
            required
          />
        </div>

        <div class="col-12 mt-4 d-flex justify-content-around">
          <button
            type="button"
            class="btn btn-secondary px-4"
            (click)="handleSaveDraft(f)"
            routerLink="/adminhome/events"
          >
            Save Draft
          </button>

          <button
            type="button"
            [disabled]="!f.form.valid"
            class="btn btn-success px-4"
            (click)="handleAddEvents(f)"
            routerLink="/adminhome/events"
          >
            Add Event
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
