<div class="container addeventform">
  <div class="row">
    <div class="text-center">
      <label for="imagePicker">
        <img
          [src]="picture"
          alt="Unable to load Image"
          class="img-fluid"
          width="350"
        />
      </label>
      <h5 class="bg-secondary text-white uploadBadge text-center">
        Upload Image
      </h5>
      <input
        type="file"
        name="image"
        id="imagePicker"
        accept="image/*"
        multiple="{false}"
        hidden
        (change)="ImageUpload($event)"
      />
    </div>
    <div class="mt-7">
      <h5 class="text-center mt-2 mb-4">Add Event Details</h5>
      <form class="row g-3" [formGroup]="addEventForm">
        <div class="col-md-6">
          <label for="eventName" class="form-label">Event Name</label>
          <input
            type="text"
            name="eventName"
            formControlName="eventName"
            id="eventName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.eventName.errors }"
          />
          <div *ngIf="submitted && f.eventName.errors" class="text-danger">
            <div class="small" *ngIf="f.eventName.errors.required">
              Event Name is required
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="location"
            formControlName="location"
            id="location"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
          />
          <div *ngIf="submitted && f.location.errors" class="text-danger">
            <div class="small" *ngIf="f.location.errors.required">
              Location is required
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            name="description"
            formControlName="description"
            class="form-control"
            id="description"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
          />
          <div *ngIf="submitted && f.description.errors" class="text-danger">
            <div class="small" *ngIf="f.description.errors.required">
              description is required
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="category" class="form-label">Category</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="category"
            formControlName="category"
            [ngClass]="{ 'is-invalid': submitted && f.category.errors }"
            (ngModelChange)="setPicture()"
          >
            <optgroup label="Outdoor">
              <option value="cricket">Cricket</option>
              <option value="football">Football</option>
              <option value="basketball">Basketball</option>
              <option value="badmintion">Badmintion</option>
              <option value="volleyball">Volleyball</option>
            </optgroup>
            <optgroup label="Indoor">
              <option value="chess">Chess</option>
              <option value="tableTennis">TableTennis</option>
              <option value="carrom">Carrom</option>
              <option value="8ballpool">8 Ball Pool</option>
              <option value="others">Others</option>
            </optgroup>
          </select>
          <div *ngIf="submitted && f.category.errors" class="text-danger">
            <div class="small" *ngIf="f.category.errors.required">
              Category is required
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="venue" class="form-label">Venue</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="venue"
            formControlName="venue"
            [ngClass]="{ 'is-invalid': submitted && f.venue.errors }"
          >
            <option value="outdoor">Outdoor</option>
            <option value="indoor">Indoor</option>
          </select>
          <div *ngIf="submitted && f.venue.errors" class="text-danger">
            <div class="small" *ngIf="f.venue.errors.required">
              Category is required
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="maxParticipant" class="form-label"
            >Total Participants</label
          >
          <input
            type="number"
            name="maxParticipant"
            formControlName="maxParticipant"
            id="maxParticipant"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.maxParticipant.errors }"
          />
          <div *ngIf="submitted && f.maxParticipant.errors" class="text-danger">
            <div class="small" *ngIf="f.maxParticipant.errors.required">
              Total Participants is required
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="eventDate" class="form-label">Event Date</label>
          <input
            type="datetime-local"
            name="eventDate"
            formControlName="eventDate"
            id="eventDate"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.eventDate.errors
            }"
          />
          <div *ngIf="submitted && f.eventDate.errors" class="text-danger">
            <div class="small" *ngIf="f.eventDate.errors.invalidDate">
              Date should'nt be in past
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="lastDate" class="form-label">End Date</label>
          <input
            type="date"
            name="lastDate"
            formControlName="lastDate"
            id="lastDate"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastDate.errors }"
          />
          <div *ngIf="submitted && f.lastDate.errors" class="text-danger">
            <div class="small" *ngIf="f.lastDate.errors.required">
              Last Date is required
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="type" class="form-label">Type</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="type"
              formControlName="type"
              id="individual"
              value="individual"
              checked
              (ngModelChange)="isTeam()"
              required
            />
            <label class="form-check-label" for="individual">
              Individual
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="type"
              formControlName="type"
              id="team"
              value="team"
              (ngModelChange)="isTeam()"
              required
            />
            <label class="form-check-label" for="team"> Team </label>
          </div>
          <div *ngIf="submitted && f.type.errors" class="text-danger">
            <div class="small" *ngIf="f.type.errors.required">
              Event Type is required
            </div>
          </div>
        </div>

        <div class="col-md-6" *ngIf="isTeam()">
          <label for="totalMembers" class="form-label"
            >Maximum Members In Each Team</label
          >
          <input
            type="number"
            name="maxMembersInTeam"
            formControlName="maxMembersInTeam"
            id="maxMembersInTeam"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.maxMembersInTeam.errors }"
          />
          <div
            *ngIf="submitted && f.maxMembersInTeam.errors"
            class="text-danger"
          >
            <div class="small" *ngIf="f.maxMembersInTeam.errors.required">
              Total Members are required
            </div>
          </div>
        </div>

        <div class="col-12 mt-4 d-flex justify-content-around">
          <button
            type="button"
            class="btn btn-secondary px-4"
            (click)="onSaveDraft()"
          >
            Save Draft
          </button>

          <button
            type="button"
            class="btn btn-success px-4"
            (click)="onAddEvent()"
          >
            Add Event
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
