<div class="container addeventform">
  <!-- card - Add Event -->
  <div>
    <div class="imgDim">
      <label for="imagePicker">
        <img [src]="picture" alt="Unable to load Image" height=210 width=330/>
      </label>
      <input
          type="file"
          name="image"
          id="imagePicker"
          accept="image/*"
          multiple="{false}"
          hidden
          (change)="ImageUpload($event)"
        />
    </div>
    <div>
      <h5 class="text-center my-4">Add Event Details</h5>

      <!-- Add event details form -->

      <form class="row g-3" #f="ngForm">
        <div class="col-md-6">
          <label for="eventName" class="form-label">Event Name</label>
          <input
            type="text"
            name="eventName"
            id="eventName"
            class="form-control"
            [(ngModel)]="eventName"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="location"
            id="location"
            class="form-control"
            [(ngModel)]="location"
            required
          />
        </div>
        <div class="col-md-8">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            name="description"
            class="form-control"
            id="description"
            [(ngModel)]="description"
            required
          />
        </div>

        <div class="col-md-4">
          <label for="category" class="form-label">Category</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="category"
            [(ngModel)]="category"
            (ngModelChange)="setPicture()"
            required
          >
            <optgroup label="Outdoor">
              <option value="cricket">Cricket</option>
              <option value="football">Football</option>
              <option value="basketball">Basketball</option>
              <option value="badmintion">Badmintion</option>
              <option value="volleyball">Volleyball</option>
            </optgroup>
            <optgroup label="Indoor">
              <option value="chess">Chess</option>
              <option value="tableTennis">TableTennis</option>
              <option value="carrom">Carrom</option>
              <option value="8ballpool">8 Ball Pool</option>
              <option value="others">Others</option>
            </optgroup>
          </select>
        </div>

        <div class="col-md-6">
          <label for="venue" class="form-label">Venue</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="venue"
            [(ngModel)]="venue"
            required
          >
            <option value="outdoor">Outdoor</option>
            <option value="indoor">Indoor</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="maxParticipant" class="form-label"
            >Total Participants</label
          >
          <input
            type="number"
            name="maxParticipant"
            id="maxParticipant"
            class="form-control"
            [(ngModel)]="maxParticipant"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="eventDate" class="form-label">Event Date</label>
          <input
            type="datetime-local"
            name="eventDate"
            id="eventDate"
            class="form-control"
            [(ngModel)]="startDate"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="lastDate" class="form-label">End Date</label>
          <input
            type="date"
            name="lastDate"
            id="lastDate"
            class="form-control"
            [(ngModel)]="endDate"
            required
          />
        </div>

        <div class="col-md-6">
          <label for="type" class="form-label">Type</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="type"
              id="individual"
              value="individual"
              checked
              [(ngModel)]="type"
              (ngModelChange)="isTeam()"
              required
            />
            <label class="form-check-label" for="individual">
              Individual
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="type"
              id="team"
              value="team"
              [(ngModel)]="type"
              (ngModelChange)="isTeam()"
              required
            />
            <label class="form-check-label" for="team"> Team </label>
          </div>
        </div>

        <div class="col-md-6" *ngIf="isTeam()">
          <label for="totalMembers" class="form-label"
            >Maximum Members In Each Team</label
          >
          <input
            type="number"
            name="totalMembers"
            id="totalMembers"
            class="form-control"
            [(ngModel)]="totalMembers"
            required
          />
        </div>

        <div class="col-12 mt-4 d-flex justify-content-around">
          <button
            type="button"
            class="btn btn-secondary px-4"
            (click)="handleSaveDraft(f)"
            routerLink="/adminhome/events"
          >
            Save Draft
          </button>

          <button
            type="button"
            [disabled]="!f.form.valid"
            class="btn btn-success px-4"
            (click)="handleAddEvents(f)"
            routerLink="/adminhome/events"
          >
            Add Event
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
