<h4 class="text-center my-4">Winners</h4>
<div class="winnersBox row">
  <div class="col" *ngFor="let event of eventList">
    <div class="winBox mx-1 mb-4 card" style="width: 15rem">
      <div
        class="
          d-flex
          flex-column
          justify-content-center
          align-items-center
          bg-success
          text-white
          p-3
          dateBox
        "
      >
        <h2 class="m-0">{{ event.eventDate | date: "dd" }}</h2>
        <h5 class="m-0">{{ event.eventDate | date: "MMMM" }}</h5>
      </div>
      <div class="card-body p-2">
        <h5 class="card-title">{{ event.eventName }}</h5>
        <p class="card-text">{{ event.description }}</p>
      </div>
      <ul class="list-group list-group-flush p-2">
        <li class="list-group-item">1st Winner : {{ event.w1 }}</li>
        <li class="list-group-item">2nd Winner : {{ event.w2 }}</li>
        <li class="list-group-item">3rd Winner : {{ event.w3 }}</li>
      </ul>
    </div>
  </div>
</div>
