/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

@import "~ngx-toastr/toastr";

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}
html {
  overflow-y: hidden;
  font-family: Roboto, Microsoft JhengHei, sans-serif;
}
