.display-6 {
  font-size: 2.1rem;
}

.bold {
  font-weight: 600;
}

.color {
  background-color: #8ec162;
}
.margintop {
  margin-top: 22%;
}
h1 {
  font-weight: 350;
}

.login-failed-text {
  color: crimson;
}
span {
  color: crimson;
}
.sideimg {
  height: 100vh;
}

.linkcolor {
  color: black;
}
button {
  color: antiquewhite;
  font-weight: bold;
}
