/* .display-6 {
  font-size: 2.1rem;
}

.bold {
  font-weight: 600;
}

.color {
  background-color: #5a48fd;
  color: white;
}
.linkcolor {
  color: rgb(255, 255, 255);
}
.margintop {
  margin-top: 22%;
}
h1 {
  font-weight: 350;
  color: rgb(255, 255, 255);
}
.bold {
  color: rgb(255, 255, 255);
}
.login-failed-text {
  color: crimson;
}
span {
  color: crimson;
}
.sideimg {
  height: 100vh;
} */