<h1 class="display-6 login-card-description margintop">
  Sign Into Your Account
</h1>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group mb-2">
    <label for="username" class="sr-only py-1 bold">Username</label>
    <input
      type="email"
      name="username"
      id="username"
      class="form-control"
      placeholder="Username"
      [formControlName]="'username'"
    />
    <span
      *ngIf="
        !loginForm.get('username').valid && loginForm.get('username').touched
      "
    >
      Please provide a valid username
    </span>
  </div>
  <div class="form-group mb-2">
    <label for="password" class="sr-only py-1 bold">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      class="form-control"
      placeholder="********"
      [formControlName]="'password'"
      required
    />
    <span
      *ngIf="
        !loginForm.get('password').valid && loginForm.get('password').touched
      "
    >
      Password cannot be empty
    </span>
  </div>
  <button type="submit" class="btn btn-block login-btn px-5 color my-2">
    Login
  </button>
  <div class="login-failed" *ngIf="this.isError">
    <p class="login-failed-text">
      {{ error }}
    </p>
  </div>
</form>
<a
  href="http://localhost:8080/forgot_password"
  class="forgot-password-link linkcolor"
  >Forgot password?</a
>
<p class="login-card-footer-text linkcolor py-2">
  Don't have an account?
  <a routerLink="/register" class="text-reset">Register here</a>
</p>