span {
  font-size: 85%;
}

span:first-child {
  font-weight: 700;
  font-size: 100%;
}

.teamDetailsBox {
  width: 90%;
  margin: 0 auto;
}

.borderonBox {
  border: 0.1px solid rgb(207, 207, 207);
}
body {
  background-color: #f7fafc;
}


.card {
  height: 4rem;
  color: #000000;
  background: #ebebeb;
  border-left: 10px solid #8d8d8d;
  box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.35);
  -webkit-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.35);

}
.a {
  color: #029baf;
  cursor: pointer;
}
