<div class="row mt-5">
  <div class="col-md-6 col-sm-12">
    <div class="col-md col-sm-12 px-5">
      <h5 class="p-3 text-center">Participants in {{ event.eventName }}</h5>

      <ng-container *ngFor="let team of registeredTeams">
        <div class="mb-3 d-flex justify-content-center teamDetailsBox">
          <div class="d-flex align-items-center borderonBox p-2 px-4">
            <img
              src="../../../assets/userImg2.png"
              alt="not loaded"
              class="rounded-circle"
              height="100"
              width="100"
            />
          </div>
          <div class="d-flex flex-column borderonBox p-2 px-4 w-100">
            <span>{{ team.name }}</span>
            <span>{{ team.description }}</span>
            <span>Total Members : {{ team.currentNumberOfMembers }}</span>
            <span>Admin Email: {{ team.email }}</span>
            <span>{{ team.city }}</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="registeredUsers">
        <div
          class="mb-3 d-flex justify-content-center teamDetailsBox"
          *ngFor="let user of registeredUsers"
        >
          <div class="d-flex align-items-center borderonBox p-2 px-4">
            <img
              [src]="user.picture"
              alt="not loaded"
              class="rounded-circle"
              height="70"
              width="70"
            />
          </div>
          <div
            class="
              d-flex
              flex-column
              justify-content-center
              borderonBox
              p-2
              px-4
              w-100
            "
          >
            <span>{{ user.name | titlecase }}</span>
            <span>Email : {{ user.email }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="col-md-6 border-middle col-sm-12">
    <div class="col-md col-sm-12 px-5">
      <h5 class="text-center p-3">Generate Matchups</h5>
      <div class="col-md-12">
        <label for="name" class="form-label">Type of Schedule</label>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="selectedMethod"
        >
          <option value="rr">League Round Robin</option>
          <option value="se">Tournament Single Elimination</option>
          <option value="de">Tournament Double Elimination</option>
        </select>
      </div>
      <div class="d-grid col-4 mx-auto mt-3">
        <button (click)="schedule()" class="btn btn-success" [disabled]="!dataAvailable">
          Click To Generate
        </button>
      </div>
      <ng-template [ngIf]="notScheduled && matchesAvailable">
        <div class="card mt-5">
          <div class="card-horizontal">
            <div class="card-body">
              <p>
                Only you can view this schedule.
                <a class="a" (click)="publish()">Publish</a>
                it now.
              </p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="matchesAvailable">
        <div *ngFor="let match of matches">
          <app-match-card [match]="match"></app-match-card>
        </div>
      </ng-template>
    </div>
  </div>
</div>
