span {
  font-size: 85%;
}

span:first-child {
  font-weight: 700;
  font-size: 100%;
}

.teamDetailsBox {
  width: 90%;
  margin: 0 auto;
}

.borderonBox {
  border: 0.1px solid rgb(207, 207, 207);
}
body {
  background-color: #f7fafc;
}
.card {
  height: 4rem;
  color: #b7791f;
  background: #ffffe5;
  border-left: 10px solid #b7791f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.a {
  color: #00bcd4;
}
